
<h1>Thank You For Your Order!</h1>


<h2>Confirmation Number: #<%=SecureRandom.alphanumeric(10)%></h2><br><br><br><br>



<%= link_to "Explore More", images_path%>
<%= link_to "Return To Cart", order_images_path %>