<h1> New Order Form: </h1>

<head>New Order</head><br><br>


<form>

            <label> Name: </label>
            <input type="text" name="name"><br><br>
            
            <label>Address: </label>
            <input type="text" name="Address"><br><br>

            <label>Zip: </label>
            <input type="number" name="Zip">
            <label>State:</label>
            <input type="text" name="State">
            <br><br>

            <label>Credit Card Number:</label>
            <input type="number" name="Credit Card Number"><br><br>
            <label>YYYY-MM</label>
            <input type="month" name="YYYY-MM">
            <label>CVV</label>
            <input type="number" name="CVV" min="111" max="999"><br><br>

            <label>Coupon Code:</label> 
            <input type="text" name="Coupon Code"><br><br>

</form>

<%= button_to "Submit Order", clean_path, :method => :delete%>
<%= link_to "Return To Cart", order_images_path %>
