<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quickpix</title>
    </head>
    <body>
        <div class="navbar">
            <div class="containers">
                <a href="/"><span>QuickPix</span></a>

                <nav>
                    <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Sign In</a></li>
                    <li><a href="/">Sign Up</a></li>
                    </ul>
                </nav>
    </body>
    </html>