<div class="image-page">
    <h1>Explore Quickpix Artists:</h1>

    <div class="image-container">
            <% @images.each do |image|%>
        <div class="image">
            <%= link_to image_tag(image.url), image%>
        </div>
    <!--<img src = <%= image.url %> width="300" height="300">-->
    <%end%>
    </div>
</div>